//sass style
//-----------------------------------
// _util.scss

@import 'util';

html,body{
  margin: 0;
  padding: 0;
  position: relative;
  @include fill-full();
}
body {
  /*background: #eee;*/
  font-size:12px;
  overflow: hidden;
}
.aa{
  background-color: red;
}
.content{
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}
.content-iframe{
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  @include fill-full();
}
*{
  padding: 0;
  margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
#app,#app > div{
  height:100%;
  width:100%;
}

.bodyDiv{
  position: relative;
  height:100%;
  width: 100%;
}
.cotainerDiv{
  position: relative;
  flex :1;
  height:99.4%;
  margin-left: 240px;
  transition:all .3s;
  background: white;
}
.cotainerDiv .ant-tabs-tabpane{//,.cotainerDiv .breadDiv{
  background: #eff;
  height: 100%;
}
.cotainerDiv .ant-tabs-tabpane iframe {
  margin-top: 30px;
  border: none;
  width: 100%;
  height: calc(100% - 70px);
}
.navDiv{
  position: absolute;
  display:inline-block;
  width: 240px;
  height:100%;
  float:left;
  transition:all .3s;
  background: white;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.navDiv ul.ant-menu.ant-menu-root{
  overflow-y:auto;
  overflow-x:hidden;
}
.headerDiv{
}
.headerDiv .right-area{
  text-align: center;
}
.topToggle {
    width: 240px;
    float: left;
    position: relative;
    /*border-right: 1px solid #246bae;*/
    height:40px;
    background: #108ee9;
    overflow: hidden;
}
.nav-toggle, .nav-search{
    height:40px;
    line-height:40px;
    background-color: #108ee9;
    color: white;
    float: left;
    width: 70px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition:all .3s;
}
.nav-search{
    float: right;
}
.nav-toggle a.banner-icon {
    width: 17px;
    background-position: 0 -3px;
}
a.banner-icon {
    display: inline-block;
    height: 18px;
    color: #fff;
    width: 18px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    background: url(../img/top-banner-icon.png) no-repeat 0 0;
}
#minNav > div{
  font-weight: 600;
  padding: 14px 20px 14px 25px;
  font-size: 16px;
}
#minNav
{
  width: 70px;
  height: calc(100% - 40px);
  top: 40px;
  position:absolute;
}
#minNav > div:hover{
  background:#eee;
  cursor: pointer;
}
.ant-tabs-bar{
  margin-top: 8px;
  margin-bottom: 0px !important;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  height: 32px;
  left: 0;
  right: 70px;
  z-index: 9999;
}
.ant-tabs-tabpane{
  margin-top: 40px;
}
.ant-tabs-content{
  height:100%;
}
.ant-tabs{
  height:100%;
}
.ant-tabs-extra-content{
  display: none;
}
.breadDiv{
  height: 30px;
  width: 100%;
  position: absolute;
  top: 40px;
  line-height: 30px;
  font-size: 14px;
  box-sizing: border-box;
  padding:0 20px;
}
.logoutDiv{
  display: inline-block;
  height: 40px;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
}
.LoadDiv{
  height: 100px;
  background-color: #ffe;
  width:100%;
}
