.hhrms-source
{
  padding-right: 32px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: #fff url(img/hhms-img-active.png) no-repeat right center;
  background-color: #fff !important;
  cursor: pointer;
}
.rModalSelect{

}
.rModalSelect .top{
  padding: 5px 0px;
  height: 40px;
}
.rModalSelect .top input{
  width: calc(100% - 120px);
}
.rModalSelect .top button{
  float: right;
}

.rModalSelect .panel{
  padding: 10px;
  height: 100px;
  background-color: #ddd;
  border-radius: 4px;
  overflow: auto;
}
.rModalSelect .nodataPanel:before {
    content: "暂无选中项";
    color: whitesmoke;
}
.rModalSelect .panel button{
  margin: 0 5px 5px 5px;
}
.rModalSelect .panel .item{
  margin-top: 5px;
  margin-right: 5px;
}

.rModalSelect .bread{
  padding: 15px 0;
  height: 50px;
}
.rModalSelect .bread .breadHint{
  padding: 0 5px;
  color: #aaa;
}
.rModalSelect .list{
  border: 1px solid #e9e9e9;
  height: 252px;
  overflow-y: auto;
}
.rModalSelect .listTitle{
  background-color: #108ee9;
  text-align: center;
}
.rModalSelect .titleItem{
  color: white;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.rModalSelect .titleItem:nth-child(1){
  width: 15%;
}
.rModalSelect .titleItem:nth-child(2){
  border-left: 1px solid #fff;
  width: 55%;
}
.rModalSelect .titleItem:nth-child(3){
  border-left: 1px solid #fff;
  width: 30%;
}
.rModalSelect .listContent{
  height: 220px;
}
.rModalSelect .listContent table{
  overflow-y: auto;
  width: 100%;
  border-collapse: collapse;
}
.rModalSelect .listContent table tr{
  height: 25px;
  line-height: 25px;
}
.rModalSelect .listContent table tr td{
  border: 1px solid #ddd;
  padding: 0 5px;
}
.rModalSelect .listContent .item-type{
  width: 15%;
}
.rModalSelect .listContent .item-path{
  width: 30%;
}
.rModalSelect .listContent table tr td.inputSpan{
  vertical-align: middle;
}
.ant-checkbox + a {
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: middle;
}
